<div class="container mt-3">
    <div class="card">
        <flash-messages></flash-messages>
          <form method="POST" (submit)="addNewUser()">
              <label for="name">Имя: </label>
              <input type="text" id="city" [(ngModel)]="name" name="name" class="form-control" required>
              <label for="name">Выполненных задач: </label>
                <input class="form-control" type="number" [(ngModel)]="tasks"  id="example-number-input" name="tasks" required>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Описание: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="description" rows="3" name="description" required></textarea>
                </div>
                <select class="form-control" [(ngModel)]="selectedCity" name="city" >
                        <option *ngFor="let item of city" [value]='item._id'>{{item.name}}</option>
                </select>
                
              <button type="submit" class="btn btn-success mt-3">Добавить</button><i class="glyphicon glyphicon-refresh spinning"></i>
          </form> 
    </div>
    
</div>

